:root {
	--cell-size: 45px;
	--p1-board: rgb(223, 213, 230);
	--p2-board: rgb(250, 223, 223);
	--ship: rgb(29, 29, 29);
	--ship-sunk: rgb(109, 109, 109);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.modal {
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 5;
	background-color: white;
}

.container {
	position: relative;
}

.main {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.board {
	display: flex;
	flex-wrap: wrap;
	width: calc(var(--cell-size) * 10);
}

.board.active {
	outline: 2px solid red;
	pointer-events: auto;
}

.cell {
	height: var(--cell-size);
	width: var(--cell-size);
	border-radius: 5px;
	background-color: var(--p1-board);
	border: 1px solid rgb(255, 255, 255);
	position: relative;
}

.P1 > .cell {
	background-color: var(--p1-board);
}

.P2 > .cell {
	background-color: var(--p2-board);
}

.cell::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0;
	transition: transform 0.4s cubic-bezier(0.42, 0, 0.55, 1.9);
}

.cell.hit::after {
	opacity: 1;
	transform: scale(1);
	background-color: grey;
}

.cell.hit.ship::after {
	background-color: red;
}

.cell:hover {
	filter: brightness(95%);
}

.cell:active {
	filter: brightness(95%);
	transform: scale(0.9);
}

.P1 > .ship {
	background-color: var(--ship);
}

.sample > .ship {
	background-color: var(--ship);
	z-index: 10;
}

.sample > .temp {
	background-color: grey;
}

.sample > .invalid {
	background-color: red;
}

.ship.sunk {
	background-color: var(--ship-sunk);
}

.ships-display > .sunk {
	opacity: 0.5;
}
